#bg-start {
  background-image: url("../img/home.png");
  height: 910px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#about h2 p {
  background-color: white;
  padding: 100px 80px;
  text-align: center;

}
